@import '/styles/common_mixin.module.scss';

$elementBgColor:#fefefe;
$bgColor: #fafafa;


@mixin text {
	color:#232323;
	font-size: 14px;
	font-weight: $regular;
}

@mixin text2 {
	font-size: 12px;
	font-weight: $light;
	color: #262626;
}