@import '../../common_mixin.module.scss';

$pandaColor: #10887b;
$cueatColor: #ff9800;
$yellomentColor: #fedc63;
$agripaColor: #1ab260;
$color: #333333;
$textColor: #666666;
$borderColor: #e9e9e9;

@mixin h1 {
	font-size: 46px;
	font-weight: $bold;
	letter-spacing: -0.025em;
  }
  
  @mixin h2 {
	font-size: 46px;
	font-weight: bold;
	letter-spacing: -0.025em;
	line-height: 68px;
  }
  @mixin h3 {
	font-size: 28px;
	font-weight: $medium;
	line-height: 41px;
	letter-spacing: -0.025em;
  }
  @mixin h4 {
	font-size: 22px;
	font-weight: $bold;
	line-height: 33px;
	letter-spacing: -0.025em;
  }
  
  @mixin strong {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.025em;
	color: $pandaColor;
  }
  
  @mixin text {
	font-size: 16px;
	letter-spacing: -0.025em;
	line-height: 24px;
	color: #666666;
  }
  
  @mixin section {
	width: 1296px;
	padding-bottom:204px;
  }
  
  @mixin title($color) {
	margin-bottom: 72px;
	img {
	  width: 168px;
	  height: 50px;
	  object-fit: contain;
	  margin-bottom: 8px;
	}
	h2 {
	  @include h2;
	}
	strong {
	  @include strong;
	  font-size: 28px;
	  font-weight: $medium;
	  color: $color;
	}
  }
  
  @mixin linkBtn($bgColor) {
	a {
	  @include flexAlignCenter;
	  background-color: $bgColor;
	  cursor: pointer;
	  border-radius: 10px;
	  width: 150px;
	  height: 50px;
	  width: 150px;
	  height: 50px;
	  color: #fefefe;
	  font-size: 16px;
	  font-weight: $medium;
	}
  }