@import "/styles/common_mixin.module.scss";

.toggle-icon {
  @include flexCenter;
  width: 40px;
  height: 40px;
  cursor: pointer;
  span {
    position: relative;
    display: block;
    width: 30px;
    height: 4px;
    background-color: #666666;
    margin: 5px 0;
    transition: 0.2s ease;
    border-radius: 5px;
  }
  span:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 30px;
    height: 4px;
    background-color: #666666;
    transition: 0.2s ease;
    border-radius: 5px;
  }
  span:before {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 30px;
    height: 4px;
    background-color: #666666;
    transition: 0.2s ease;
    border-radius: 5px;
  }
  &.active {

    span {
      transform: translate3d(0, 10px, 0) rotate(-45deg);
    }
    span:after {
      transform: translate3d(10px, 0px, 0) rotate(45deg);
      opacity: 0;
    }
    span:before {
      transform: translate3d(0, -20px, 0) rotate(90deg);
    }
  }
}
